.tabs {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.tabs li {
  padding: 8px 12px 12px;
  margin-right: 4px;
  margin-bottom: -12px;

  cursor: pointer;
  color: var(--text-color-secondary);
  border-bottom: 1px solid transparent;
  transition:
    color var(--animation-time),
    border-color var(--animation-time);
}

.tabs li:hover {
  border-bottom-color: var(--text-color-secondary);
}

.tabs li.is-active {
  color: var(--accent-color);
  border-bottom-color: var(--accent-color);
}
